@import "color_folder";

.simple-calendar{
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $calendar-border;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
  }

  th{
    padding: 6px;
    border-bottom: 2px solid $theme-color;
    border-collapse: collapse;
    border-left: 1px solid $calendar-border;
    border-right: 1px solid $calendar-border;
    border-top: 0px none #333333;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    display: table-cell;
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid $calendar-border;
    border-top-color: $calendar-border;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color:$calendar-border;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: $calendar-border;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: $calendar-border;
    border-left-style: solid;
    border-left-width: 1px;
  }

  tr {
    border-collapse: collapse;
  }

  .day {
    height: 100px;
    font-weight: 600;
  }

  .wday-0 {
    color: $calendar-sunday;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: $calendar-saturday;
  }

  .today {
    background: $theme-color;
    color: white;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: $word-gray;
    background:  $calendar-gray;
  }
  .next-month {
    color: $word-gray;
    background: $calendar-gray;
  }
  .current-month {}

  .has-events {}
}
