$theme-color: #8fd3f5;
$theme-color-dark: #5aa1d8;

$word-light-gray:  #bcc8d4;
$word-gray:  #8899a6;
$word-black: #333333;

$calendar-gray: #ddebf1;
$calendar-saturday: #a3d9ed;
$calendar-sunday: #f18f65;
