$theme-color: #8fd3f5;
$theme-color-dark: #5aa1d8;
$theme-color-dark-background: rgba(90, 161, 216, 0.8);

$word-light-gray:  #bcc8d4;
$word-gray:  #8899a6;
$word-black: #333333;

$calendar-gray: #ddebf1;
$calendar-saturday: #a3d9ed;
$calendar-sunday: #f18f65;
$calendar-border:  #c4d9e2;
