@import "color_folder";

/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Arial', "Meiryo", 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: $theme-color;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f5f8fa;
  padding-bottom: 160px;
}

.container {
  max-width: 600px;
  margin: 10px auto 60px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

img {
  pointer-events: none;
}

/* ヘッダー ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-logo a:hover {
  color: $theme-color-dark;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus a:hover{
  color: $theme-color-dark;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

/* top ================================ */
.swiper-container {
  text-align: center;
  width: 100%;
  // height: 600px;
  // color: white;
  // text-shadow: 1px 1px 3px $word-black;
  background-color: $theme-color;
}

// .top-message {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   margin:0;
//   padding:0;
//   z-index: 20;
// }

// .top-message h2 {
//   display: grid;
//   width: 100%;
//   font-size: 70px;
//   font-weight: 500;
//   line-height: 1.3;
//   -webkit-font-smoothing: antialiased;
//   margin-bottom: 10px;
// }

// .top-message p {
//   font-size: 24px;
//   display: grid;
//   width: 100%;
// }

.swiper-wrapper {
  width: 100%;
  position: relative;
}

.swiper-wrapper img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 54vw;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container img {
  background-position:center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-about_MDL {
  padding: 40px 0;
  text-align: center;
  background-color: $theme-color-light;
  color: $theme-color-dark;
}

.top-about_MDL h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.top-about_btn a{
  margin-top: 20px;
  display: inline-block;
  height: 40px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: $theme-color;
  color: white;
  box-shadow: 0 3px 0 $theme-color-dark;
}

.top-about_btn a:hover {
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}

.test-user_login {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  background-color: $theme-color;
  text-align: center;
}

#test-login_btn .form {
  box-shadow: 0 3px 0 $theme-color-dark-shadow;
  background: transparent;
}

#test-login_btn .form input:hover {
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}

#test-login_btn form {
  display: grid;
}

#test-login_btn input[type="submit"]{
  width: 300px;
  margin: 0;
  font-weight: 600;
  background-color: $theme-color-dark;
  color: white;
}

.test-user_login p {
  color: white;
}

.test-login_guide {
  font-size: 24px;
  margin-bottom: 10px;
}

.test-login_notice {
  margin: 20px auto 0 ;
  display: inline-block;
}

.test-login_notice p {
  font-size: 12px;
  text-align: left;
}

.test-user-login_btn {
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  width: 100%;
  margin: 8px 0 0 20px;
}

.test-user-login_btn input[type="submit"] {
  width: 280px;
  float: left;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  background-color: $word-gray;
  border-radius: 2px;
}

.test-user-login_btn input[type="submit"]:hover {
  background-color: $theme-color-dark;
}

/* about ================================ */
.about-main {
  padding: 180px 8% 0;
  color: white;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
}

.about-img {
  width: 84%;
}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 30px 0 10px 30px;
  font-size: 24px;
  color: $word-gray;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  font-family: Arial;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px;
  resize: none;
  color: #57575f;
  border: 1px solid #d8dadf;
  font-family: Arial;
}

.form input[type="submit"] {
  background-color: $theme-color;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form input[type="submit"]:hover {
  background-color: $theme-color-dark;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.form input::placeholder, .comment_new-container textarea::placeholder, .form textarea::placeholder {
  color: $word-light-gray;
}

.inquiry_form .form input:focus::placeholder {
  color: $word-light-gray;
}

.form input:focus::placeholder, .comment_new-container textarea:focus::placeholder{
  color: transparent;
}

:focus {
  outline: none;
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

// フッター
#footer {
  display: block;
  background-color: $footer;
  width: 100%;
  height: 160px;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
  color: $word-black;
  border-top: 2px solid $calendar-border;
}

#footer h3 {
  font-weight: 600;
}

#footer a {
  color: $word-gray;
  display: block;
  margin-top: 10px;
}

#footer a:hover {
  color: $theme-color-dark;
}

.footer-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.footer-block{
  padding: 5px;
  width: 170px;
  margin-left: 30px;
}
