@import "color_folder";

.modal__content .contact_h1 h1 {
  color: $word-black;
  font-weight: 600;
}

#contact_btn {
  background-color: $contact_btn;
  border-radius: 3px 3px 0 0;
  font-size: 15px;
  color: white;
  text-align: center;
  min-width: 170px;
  height: 45px;
  line-height: 45px;
  z-index: 15;
  position: fixed;
  bottom: 0;
  right: 60px;
  cursor: pointer;
}

#contact_btn span {
  font-weight: 500;
}

.inquiry_information {
  color: $word-gray;
  margin-bottom: 20px;
}

.inquiry_information a {
  color: $theme-color-dark;
  font-weight: 500;
}

.inquiry_information a:hover{
  color: $theme-color;
}

.js-modal_inquiry {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.js-modal-close_inquiry {
  min-height: 825px;
}

body > div.js-modal-close_inquiry {
  height: auto;
}

.js-modal_inquiry .modal__content #modal_close_btn {
  min-height: 16px;
}
