@import "color_folder";

/* users/index ================================ */
.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color:$theme-color;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
.user-show {
  text-align: center;
}

.user-show .task-name {
  text-align: left;
}

.user {
  text-align: left;
}

.user-center {
  text-align: center;
  height: 83px;
}

.user img {
  width: 75px;
  height: 75px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  position: relative;
}

.user_info {
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  top: -25px;
  position: relative;
}

.user h2 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 14px;
  text-align: left;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
  font-size: 16px;
  text-align: left;
}

.user .task-menus {
  position: relative;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 5px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid $theme-color;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: $word-light-gray;
}

.user-tabs a:hover {
  color: $word-black;
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}

#account_edit i{
  padding: 20px 0 0 30px;
  font-size: 20px;
}

#account_edit a {
  color: $word-gray;
}

#account_edit a:hover {
  color: $word-black;
}
